<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylebad.css'%}"/>
</head>
<body>
<form action="{% url 'home' %}">
<h1>Hey don't drink it its not good for your health the quality of wine is poor.</h1>
<button type="submit" class="button blue rounded ae-7 fromCenter" name="button">click here to go back</button>
<h2>“Penicillin cures, but wine makes people happy.” ― Alexander Fleming</h2>
</form>
</body>
</html>